<br><h1>Lab | Cleaning numerical data<h1>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [2]:
customer_df = pd.read_csv('./files_for_lab/customer_value_analysis.csv')
customer_df.shape

(9134, 24)

In [3]:
customer_df.shape

(9134, 24)

In [4]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [5]:
def clean_df(df):
    df = df.drop_duplicates()
    df = df.reset_index(drop = True)
    df.columns = [col.lower().replace(' ', '_') for col in df.columns]
    return df

In [6]:
customer_df = clean_df(customer_df)
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   object
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

Headers standardized

In [7]:
customer_df.isnull().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

There aren't any NaNs

In [8]:
customer_df['effective_to_date'] = pd.DatetimeIndex(customer_df['effective_to_date'])
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   datetime64[ns]
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(15)
memory usage: 1.7+ MB

<br><h2>Define a functions that given an input dataframe, returns two dataframes: one with the numerical columns and another with categorical columns of the input dataframe.<br>Get the correlation matrix for the numerical variables. What is pair of numerical variables that have the highest correlation? It makes sense, why?<h2>

In [9]:
customer_df['months_since_last_claim'].value_counts().count()

36

def numcat_splitter(df):
    df_num = df.select_dtypes(np.number)
    df_cat = df.select_dtypes(object)
    print('\nThis is the dataframe with the numerical values:\n')
    display(df_num)
    print('\nThis is the dataframe with the categorical values:\n')
    display(df_cat)
    print('\nThis is the correlation matrix for the numerical values:\n')
    correlations_matrix = df_num.corr()
    display(correlations_matrix)
    print('\nWe can see that the total claim amount and monthly premium auto are correlated.\nThis makes sense as the higher the claim, the more the premium increases')
    sns.heatmap(correlations_matrix, annot=True)
    plt.show()

numcat_splitter(customer_df)

Drop any ID column.

In [10]:
customer_df = customer_df.drop('customer', axis=1)
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          9134 non-null   object
 1   customer_lifetime_value        9134 non-null   float64
 2   response                       9134 non-null   object
 3   coverage                       9134 non-null   object
 4   education                      9134 non-null   object
 5   effective_to_date              9134 non-null   datetime64[ns]
 6   employmentstatus               9134 non-null   object
 7   gender                         9134 non-null   object
 8   income                         9134 non-null   int64
 9   location_code                  9134 non-null   object
 10  marital_status                 9134 non-null   object
 11  monthly_premium_auto           9134 non-null   int64
 12  months_since_last_claim        9134 non-null   int64
 13  months_since_policy_inception  9134 non-null   int64
 14  number_of_open_complaints      9134 non-null   int64
 15  number_of_policies             9134 non-null   int64
 16  policy_type                    9134 non-null   object
 17  policy                         9134 non-null   object
 18  renew_offer_type               9134 non-null   object
 19  sales_channel                  9134 non-null   object
 20  total_claim_amount             9134 non-null   float64
 21  vehicle_class                  9134 non-null   object
 22  vehicle_size                   9134 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(14)
memory usage: 1.6+ MB

<br><h2>-Define a function that takes a pandas DataFrame as an input and returns two pandas DataFrames: the first containing numerical continuous columns and the second containing numerical discrete columns of the input dataframe.<br>To this end, it might be helpful to count the number of unique values. The function must have an optional argument set by default to 36 to discriminate between continuous and discrete columns.<br>Then, use it to create two new dataframes: continuous_df and discrete_df.<br>-Create a function to create a barplot for all the columns of the discrete_df using seaborn, and set the figuresize = (16,16).<br>-Create a function to create a histogram for all the columns of the continuous_df using seaborn, and set the figuresize = (16,16)<br>-According to the previous histogram plots, do you think that you do will have to apply any transformation?<br>-Look for outliers in the continuous variables that you have found. Hint: There was a good plot to do that. Define a function to create this kind of plots for the continuous_df.<h2>

def numerical_split(df, counter=36):
    df = df.select_dtypes(np.number)
    continuous = df.copy()
    discrete = df.copy()
    for col in df:
        x = df[col].value_counts().count()
        if x < counter:
            continuous = continuous.drop([col], axis = 1)
        else:
            discrete = discrete.drop([col], axis = 1)
    print('\nThis dataframe contains the contiuous numerical values')
    display(continuous)
    print('\nThis dataframe contains the discrete numerical values')
    display(discrete)
    print()
    fig, axes = plt.subplots(1,2,figsize=(16, 16), dpi=200)
    sns.barplot(data = discrete, x='number_of_open_complaints', palette='Blues_d', ax=axes[0])
    sns.barplot(data = discrete, x='number_of_policies', ax=axes[1])
    plt.tight_layout()
    plt.show()
    print()
    
    fig, axes = plt.subplots(3,2,figsize=(16, 16), dpi=200)
    sns.histplot(x="customer_lifetime_value", data=continuous, ax=axes[0,0])
    sns.histplot(x="income", data=continuous, ax=axes[0,1])
    sns.histplot(x="monthly_premium_auto", data=continuous, ax=axes[1,0])
    sns.histplot(x="months_since_last_claim", data=continuous, ax=axes[1,1])
    sns.histplot(x="months_since_policy_inception", data=continuous, ax=axes[2,0])
    sns.histplot(x="total_claim_amount", data=continuous, ax=axes[2,1])
    plt.tight_layout()
    plt.show()
    print('\nWe will have to normalize this data as the scales are very different among columns\n\n')
    
    fig, axes = plt.subplots(3,2,figsize=(16, 16), dpi=200)
    sns.boxplot(x="customer_lifetime_value", data=continuous, ax=axes[0,0])
    sns.boxplot(x="income", data=continuous, ax=axes[0,1])
    sns.boxplot(x="monthly_premium_auto", data=continuous, ax=axes[1,0])
    sns.boxplot(x="months_since_last_claim", data=continuous, ax=axes[1,1])
    sns.boxplot(x="months_since_policy_inception", data=continuous, ax=axes[2,0])
    sns.boxplot(x="total_claim_amount", data=continuous, ax=axes[2,1])
    plt.tight_layout()
    plt.show()
    print('\nThere are some columns with a load of outliers, and income is also affected by the customers with 0 income\n\n')

numerical_split(customer_df)

<br><h1>Lab | Cleaning Categorical Data<h1>

In [11]:
customer_df.select_dtypes(object)

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

def kitty_kitty(df):
    cat = df.select_dtypes(object)
    cols = [col for col in cat.columns]
    
    for i in cols:
        if (len(customer_df[i].value_counts(dropna=False).index)) < 6:
            sns.countplot(data=cat, x=i, order= cat[i].value_counts(dropna=False).index)
            plt.title(i)
            plt.tight_layout()        
            plt.show()
        else:
            sns.countplot(data=cat, y=i, order= cat[i].value_counts(dropna=False).index)
            plt.title(i)
            plt.tight_layout()        
            plt.show()

kitty_kitty(customer_df)

<br><h2>Drop the column policy_type and transform the column policy to three possible values: L1, L2, and L3 using a function.<h2>

In [12]:
def policy_fixer(df):
    df = df.drop(['policy_type'], axis=1)
    
    df['policy'] = df['policy'].replace(to_replace=('Personal L1', 'Corporate L1', 'Special L1'), value='L1')
    df['policy'] = df['policy'].replace(to_replace=('Personal L2', 'Corporate L2', 'Special L2'), value='L2')
    df['policy'] = df['policy'].replace(to_replace=('Personal L3', 'Corporate L3', 'Special L3'), value='L3')
    
    return df

In [13]:
customer_df = policy_fixer(customer_df)

In [14]:
customer_df['policy'].value_counts()

L3    4588
L2    2881
L1    1665
Name: policy, dtype: int64

<br><h2>Time dependency analysis. Use a seaborn lineplot using the column effective_to_date to see if total_claim_amount is bigger at some specific dates. Use a figsize=(10,10)<h2>

fig, ax = plt.subplots(figsize=(10,10), dpi=300)
sns.lineplot(data = customer_df, x='effective_to_date', y='total_claim_amount')
plt.tight_layout()        
plt.show()

<br><h2>To continue the analysis define an empty pandas DataFrame, and add the following new columns:

-day with the day number of effective_to_date<br>
-day_name with the day NAME of effective_to_date<br>
-week with the week of effective_to_date<br>
-month with the month NAME of effective_to_date<br>
-total_claim_amount with total_claim_amount<h2>

In [15]:
new = pd.DataFrame()
new['day'] = pd.DatetimeIndex(customer_df['effective_to_date']).day
new['day_name'] = pd.DatetimeIndex(customer_df['effective_to_date']).day_of_week
new['day_name'] = new['day_name'].replace(to_replace=(0,1,2,3,4,5,6), value=('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'))
new['week'] = pd.DatetimeIndex(customer_df['effective_to_date']).week
new['month'] = pd.DatetimeIndex(customer_df['effective_to_date']).month
new['month'] = new['month'].replace(to_replace=(1,2), value=('January', 'February'))
new['total_claim_amount'] = round(customer_df['total_claim_amount'],2)

/tmp/ipykernel_7612/484126021.py:5: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  new['week'] = pd.DatetimeIndex(customer_df['effective_to_date']).week

In [16]:
new

      day  day_name  week     month  total_claim_amount
0      24  Thursday     8  February              384.81
1      31    Monday     5   January             1131.46
2      19  Saturday     7  February              566.47
3      20  Thursday     3   January              529.88
4       3  Thursday     5  February              138.13
...   ...       ...   ...       ...                 ...
9129   10  Thursday     6  February              198.23
9130   12  Saturday     6  February              379.20
9131    6    Sunday     5  February              790.78
9132    3  Thursday     5  February              691.20
9133   14    Monday     7  February              369.60

[9134 rows x 5 columns]

<br><h2>Compute the total target column aggregated day_name rounded to two decimals and then reorder the index of the resulting pandas series using .reindex(index=list_of_correct_days)<h2>

In [17]:
new_byday = new.groupby(['day_name']).agg({'total_claim_amount':sum})
new_byday = new_byday.reindex(index=('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')).reset_index()

In [18]:
display(new_byday)

    day_name  total_claim_amount
0     Monday           655689.67
1    Tuesday           502518.87
2  Wednesday           541563.08
3   Thursday           541821.10
4     Friday           533658.74
5   Saturday           608060.25
6     Sunday           581655.70

<br><h2>Use a seaborn lineplot to plot the previous series. Do you see some differences by day of the week?<h2>

fig, ax = plt.subplots(figsize=(20,8), dpi=300)
sns.lineplot(data = new_byday, x='day_name', y='total_claim_amount')
plt.tight_layout()
plt.show()

<br><h4>Monday, Saturday and Sunday have the maximum values, indicating more serious accidents on the weekend (people also reporting damages when coming back on day one). <br><h4>

<br><h2>Get the total number of claims by day of the week name and then reorder the index of the resulting pandas series using .reindex(index=list_of_correct_values)<h2>

In [19]:
new['number_of_open_complaints'] = customer_df['number_of_open_complaints']

In [20]:
new_bydayname = new.groupby(['day_name']).agg({'number_of_open_complaints':sum})
new_bydayname = new_bydayname.reindex(index=('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')).reset_index()
new_bydayname

    day_name  number_of_open_complaints
0     Monday                        652
1    Tuesday                        456
2  Wednesday                        422
3   Thursday                        446
4     Friday                        458
5   Saturday                        530
6     Sunday                        547

<br><h2>Get the median "target" by day of the week name and then sort the resulting values in descending order using .sort_values()<h2>

In [21]:
new_bydayname_med = new_bydayname.groupby(['day_name']).agg({'number_of_open_complaints':np.median}).sort_values(by='number_of_open_complaints', ascending=False).reset_index()
new_bydayname_med

    day_name  number_of_open_complaints
0     Monday                      652.0
1     Sunday                      547.0
2   Saturday                      530.0
3     Friday                      458.0
4    Tuesday                      456.0
5   Thursday                      446.0
6  Wednesday                      422.0

<br><h2>Plot the median "target" by day of the week name using a seaborn barplot<h2>

fig, ax = plt.subplots(figsize=(20,8), dpi=300)
sns.barplot(data = new_bydayname_med, x='day_name', y='number_of_open_complaints')
plt.tight_layout()
plt.show()

<br><h2>What do you can conclude from this analysis?<h2>

<h4>That depending on the day there are more open complaints and also the claimed amounts are higher - customers open them more on Monday after the weekend has finished, and also during the weekend they increase, suggesting a higher mobility of the customers on the weekends thus a bigger probability of accidents.<br><h4>

<br><h2>Compute the total target column aggregated month rounded to two decimals and then reorder the index of the resulting pandas series using .reindex(index=list_of_correct_values)<h2>

In [22]:
new_bymonth = new.groupby(['month']).agg({'total_claim_amount':sum})
new_bymonth = new_bymonth.reindex(index=('January', 'February')).reset_index()
new_bymonth

      month  total_claim_amount
0   January          2117142.93
1  February          1847824.48

<br><h2>Can you do a monthly analysis given the output of the previous series? Why?<h2>

<br><h4>No, because the data size is too small (we only have the information of 2 months)<br><h4>

<h2><br>Define a function to remove the outliers of a numerical continuous column depending if a value is bigger or smaller than a given amount of standard deviations of the mean (thr=3).<h2><br>

In [23]:
def outliers_remover(df, thr=3, counter=36):
    '''Function takes 3 inputs:
    -df: a pandas DataFrame, no matter if it has categoricals.
    -thr: threshold, the Stdev multiplier. Default = 3
    -counter: the number of different values from which the numerical distribution
    is considered continuous. Default = 36
    
    Returns a DataFrame with only continuous numerical columns for which the outliers
    (according to thr * StDev) have been removed.
    '''
    print('Shape before function application: ',df.shape)
    df = df.select_dtypes(np.number)
    for col in df:
        x = df[col].value_counts().count()
        if x < counter:
            df = df.drop([col], axis = 1)
    to_remove = []
    for col in df.columns:
        for i in df[col]:
            sd_dw = (np.mean(df[col])) - (thr*np.std(df[col]))
            sd_up = np.mean(df[col]) + (thr*np.std(df[col]))
            out = df[(df[col] < sd_dw)|(df[col] > sd_up)]
            to_remove += list(out.index)
    list(set(to_remove))
    df = df.drop(to_remove)
    df = df.reset_index(drop=True)
    print('Shape after function application: ',df.shape)
    return df

<h2><br>Use the previous function to remove the outliers of continuous data and to generate a continuous_clean_df.<h2>

In [24]:
continuous_cleaned_df = outliers_remover(customer_df)

Shape before function application:  (9134, 22)
Shape after function application:  (8670, 6)

<h2><br>Concatenate the continuous_cleaned_df, discrete_df, categorical_df and the relevant column of time_df. As after removing outliers the continuous_cleaned dataframe will have less rows (when you concat the individual dataframes using using pd.concat()) the resulting dataframe will have NaN's because of the different sizes of each dataframe. Use pd.dropna() and .reset_index() to fix the final dataframe.<h2>

In [25]:
def num_cont(df, counter=36):
    df = df.select_dtypes(np.number)
    for col in df:
        x = df[col].value_counts().count()
        if x < counter:
            df = df.drop([col], axis = 1)
    return df
            
def num_disc(df, counter=36):
    df = df.select_dtypes(np.number)
    for col in df:
        x = df[col].value_counts().count()
        if x > counter:
            df = df.drop([col], axis = 1)
    return df

In [26]:
discrete_df = num_disc(customer_df)
discrete_df

      months_since_last_claim  number_of_open_complaints  number_of_policies
0                          32                          0                   1
1                          13                          0                   8
2                          18                          0                   2
3                          18                          0                   7
4                          12                          0                   1
...                       ...                        ...                 ...
9129                       18                          0                   2
9130                       14                          0                   1
9131                        9                          3                   2
9132                       34                          0                   3
9133                        3                          0                   1

[9134 rows x 3 columns]

In [27]:
categorical_df = customer_df.select_dtypes(object)
categorical_df

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,L3,Offer4,Call Center,Two-Door Car,Medsize

In [28]:
time_df = new['day_name']

In [29]:
final = pd.concat([continuous_cleaned_df, discrete_df, categorical_df, time_df], axis = 1)
final = final.dropna().reset_index(drop=True)
display(final)
display(final.shape)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,total_claim_amount,months_since_last_claim,number_of_open_complaints,number_of_policies,state,...,employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,day_name
0,2763.519279,56274.0,69.0,32.0,5.0,384.811147,32,0,1,Washington,...,Employed,F,Suburban,Married,L3,Offer1,Agent,Two-Door Car,Medsize,Thursday
1,6979.535903,0.0,94.0,13.0,42.0,1131.464935,13,0,8,Arizona,...,Unemployed,F,Suburban,Single,L3,Offer3,Agent,Four-Door Car,Medsize,Monday
2,12887.431650,48767.0,108.0,18.0,38.0,566.472247,18,0,2,Nevada,...,Employed,F,Suburban,Married,L3,Offer1,Agent,Two-Door Car,Medsize,Saturday
3,7645.861827,0.0,106.0,18.0,65.0,529.881344,18,0,7,California,...,Unemployed,M,Suburban,Married,L2,Offer1,Call Center,SUV,Medsize,Thursday
4,2813.692575,43836.0,73.0,12.0,44.0,138.130879,12,0,1,Washington,...,Employed,M,Rural,Single,L1,Offer1,Agent,Four-Door Car,Medsize,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8665,23405.987980,71941.0,73.0,18.0,89.0,198.234764,21,1,6,California,...,Medical Leave,M,Suburban,Married,L2,Offer1,Web,Four-Door Car,Medsize,Friday
8666,3096.511217,21604.0,79.0,14.0,28.0,379.200000,25,0,1,California,...,Medical Leave,F,Rural,Married,L2,Offer2,Branch,Four-Door Car,Medsize,Wednesday
8667,8163.890428,0.0,85.0,9.0,37.0,790.784983,23,0,1,California,...,Unemployed,M,Suburban,Single,L3,Offer2,Call Center,Two-Door Car,Small,Friday
8668,7524.442436,21941.0,96.0,34.0,3.0,691.200000,11,0,6,California,...,Unemployed,M,Suburban,Single,L2,Offer3,Agent,Four-Door Car,Medsize,Wednesday
8669,2611.836866,0.0,77.0,3.0,90.0,369.600000,17,0,2,California,...,Employed,F,Urban,Married,L2,Offer2,Call Center,Four-Door Car,Medsize,Saturday

(8670, 23)

<h2><br>Reorder the columns of the dataframe to place 'total_claim_amount' as the last column.<h2>

In [30]:
final_reodered = final.copy()
final = final.drop(['total_claim_amount'], axis = 1)
final['total_claim_amount'] = final_reodered['total_claim_amount']

In [31]:
final.columns

Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'months_since_last_claim', 'number_of_open_complaints',
       'number_of_policies', 'state', 'response', 'coverage', 'education',
       'employmentstatus', 'gender', 'location_code', 'marital_status',
       'policy', 'renew_offer_type', 'sales_channel', 'vehicle_class',
       'vehicle_size', 'day_name', 'total_claim_amount'],
      dtype='object')

<h2><br>Turn the response column values into (Yes=1/No=0).<h2>

In [32]:
final['response'] = final['response'].replace(to_replace=('Yes', 'No'), value = (0,1))
final.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,months_since_last_claim,number_of_open_complaints,number_of_policies,state,response,...,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,day_name,total_claim_amount
0,2763.519279,56274.0,69.0,32.0,5.0,32,0,1,Washington,1,...,F,Suburban,Married,L3,Offer1,Agent,Two-Door Car,Medsize,Thursday,384.811147
1,6979.535903,0.0,94.0,13.0,42.0,13,0,8,Arizona,1,...,F,Suburban,Single,L3,Offer3,Agent,Four-Door Car,Medsize,Monday,1131.464935
2,12887.431650,48767.0,108.0,18.0,38.0,18,0,2,Nevada,1,...,F,Suburban,Married,L3,Offer1,Agent,Two-Door Car,Medsize,Saturday,566.472247
3,7645.861827,0.0,106.0,18.0,65.0,18,0,7,California,1,...,M,Suburban,Married,L2,Offer1,Call Center,SUV,Medsize,Thursday,529.881344
4,2813.692575,43836.0,73.0,12.0,44.0,12,0,1,Washington,1,...,M,Rural,Single,L1,Offer1,Agent,Four-Door Car,Medsize,Thursday,138.130879

<h2><br>Reduce the class imbalance in education by grouping together ["Master","Doctor"] into "Graduate" while keeping the other possible values as they are. In this way, you will reduce a bit the class imbalance at the price of loosing level of detail.<h2>

In [33]:
final['education'].value_counts()

Bachelor                2611
College                 2541
High School or Below    2502
Master                   688
Doctor                   328
Name: education, dtype: int64

In [34]:
final['education'] = final['education'].replace(to_replace= ('Master', 'Doctor'), value = 'Graduate')

In [35]:
final['education'].value_counts()

Bachelor                2611
College                 2541
High School or Below    2502
Graduate                1016
Name: education, dtype: int64

<h2><br>Reduce the class imbalance of employmentstatus grouping together ["Medical Leave", "Disabled", "Retired"] into "Inactive" while keeping the other possible values as they are. In this way, you will reduce a bit the class imbalance at the price of loosing level of detail.<h2>

In [36]:
final['employmentstatus'].value_counts()

Employed         5421
Unemployed       2185
Medical Leave     414
Disabled          381
Retired           269
Name: employmentstatus, dtype: int64

In [37]:
final['employmentstatus'] = final['employmentstatus'].replace(to_replace=("Medical Leave", "Disabled", "Retired"), value = 'Inactive')

In [38]:
final['employmentstatus'].value_counts()

Employed      5421
Unemployed    2185
Inactive      1064
Name: employmentstatus, dtype: int64

<h2><br>Deal with column Gender turning the values into (1/0).<h2>

In [39]:
final['gender'].value_counts()

F    4433
M    4237
Name: gender, dtype: int64

In [40]:
final['gender'] = final['gender'].replace(to_replace=("F", "M"), value = (1, 0))

In [41]:
final['gender'].value_counts()

1    4433
0    4237
Name: gender, dtype: int64

<h2><br>Now, deal with vehicle_class grouping together "Sports Car", "Luxury SUV", "Luxury Car" into a commoun group called Luxury leaving the other values as they are. In this way, you will reduce a bit the class imbalance at the price of losing level of detail.<h2>

In [42]:
final['vehicle_class'].value_counts()

Four-Door Car    4398
Two-Door Car     1789
SUV              1689
Sports Car        460
Luxury SUV        177
Luxury Car        157
Name: vehicle_class, dtype: int64

In [43]:
final['vehicle_class'] = final['vehicle_class'].replace(to_replace=("Sports Car", "Luxury SUV", "Luxury Car"), value = ('Luxury'))

In [44]:
final['vehicle_class'].value_counts()

Four-Door Car    4398
Two-Door Car     1789
SUV              1689
Luxury            794
Name: vehicle_class, dtype: int64

<h2><br>Now it's time to deal with the categorical ordinal columns, asigning a numerical value to each unique value respecting the ìmplicit ordering`. Encode the coverage: "Premium" > "Extended" > "Basic".<h2>

In [45]:
final['coverage'].value_counts()

Basic       5285
Extended    2610
Premium      775
Name: coverage, dtype: int64

In [46]:
final['coverage'] = final['coverage'].replace(to_replace=("Basic", "Extended", "Premium"), value = (1,2,3))

In [47]:
final['coverage'].value_counts()

1    5285
2    2610
3     775
Name: coverage, dtype: int64

<h2><br>Encode the column employmentstatus as: "Employed" > "Inactive" > "Unemployed".<h2>

In [48]:
final['employmentstatus'].value_counts()

Employed      5421
Unemployed    2185
Inactive      1064
Name: employmentstatus, dtype: int64

In [49]:
final['employmentstatus'] = final['employmentstatus'].replace(to_replace=("Unemployed", "Inactive", "Employed"), value = (1,2,3))

In [50]:
final['employmentstatus'].value_counts()

3    5421
1    2185
2    1064
Name: employmentstatus, dtype: int64

<h2><br>Encode the column location_code as: "Urban" > "Suburban" > "Rural".<br><h2>

In [51]:
final['location_code'].value_counts()

Suburban    5466
Rural       1694
Urban       1510
Name: location_code, dtype: int64

In [52]:
final['location_code'] = final['location_code'].replace(to_replace=("Rural", "Suburban", "Urban"), value = (1,2,3))

In [53]:
final['location_code'].value_counts()

2    5466
1    1694
3    1510
Name: location_code, dtype: int64

<h2><br>Encode the column vehicle_size as: "Large" > "Medsize" > "Small"<h2>

In [54]:
final['vehicle_size'].value_counts()

Medsize    6092
Small      1679
Large       899
Name: vehicle_size, dtype: int64

In [55]:
final['vehicle_size'] = final['vehicle_size'].replace(to_replace=("Small", "Medsize", "Large"), value = (1,2,3))

In [56]:
final['vehicle_size'].value_counts()

2    6092
1    1679
3     899
Name: vehicle_size, dtype: int64

<h2><br>Get a dataframe with the categorical nominal columns<h2>

In [57]:
cat_nom = final.select_dtypes(object)

In [58]:
cat_nom

,state,education,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,day_name
0,Washington,Bachelor,Married,L3,Offer1,Agent,Two-Door Car,Thursday
1,Arizona,Bachelor,Single,L3,Offer3,Agent,Four-Door Car,Monday
2,Nevada,Bachelor,Married,L3,Offer1,Agent,Two-Door Car,Saturday
3,California,Bachelor,Married,L2,Offer1,Call Center,SUV,Thursday
4,Washington,Bachelor,Single,L1,Offer1,Agent,Four-Door Car,Thursday
...,...,...,...,...,...,...,...,...
8665,California,College,Married,L2,Offer1,Web,Four-Door Car,Friday
8666,California,Graduate,Married,L2,Offer2,Branch,Four-Door Car,Wednesday
8667,California,High School or Below,Single,L3,Offer2,Call Center,Two-Door Car,Friday
8668,California,High School or Below,Single,L2,Offer3,Agent,Four-Door Car,Wednesday
8669,California,College,Married,L2,Offer2,Call Center,Four-Door Car,Saturday

<h2><br>Create a list named levels which has as many elements as categorical nominal columns. Each element must be another list with all the possible unique values of the corresponding categorical nominal column: ie:<br>levels = [ [col1_value1, col1_value2,...], [col2_value1, col2_value2,...], ...]<h2>

In [59]:
state = list(set(list(cat_nom['state'])))
education = list(set(list(cat_nom['education'])))
marital_status = list(set(list(cat_nom['marital_status'])))
policy = list(set(list(cat_nom['policy'])))
renew_offer_type = list(set(list(cat_nom['renew_offer_type'])))
sales_channel = list(set(list(cat_nom['sales_channel'])))
vehicle_class = list(set(list(cat_nom['vehicle_class'])))
day_name = list(set(list(cat_nom['day_name'])))

In [60]:
levels = [state, education, marital_status, policy, renew_offer_type, sales_channel, vehicle_class, day_name]

In [61]:
levels

[['Nevada', 'Oregon', 'California', 'Washington', 'Arizona'],
 ['College', 'Graduate', 'High School or Below', 'Bachelor'],
 ['Divorced', 'Single', 'Married'],
 ['L3', 'L1', 'L2'],
 ['Offer2', 'Offer1', 'Offer4', 'Offer3'],
 ['Agent', 'Branch', 'Web', 'Call Center'],
 ['Luxury', 'Two-Door Car', 'SUV', 'Four-Door Car'],
 ['Thursday',
  'Monday',
  'Sunday',
  'Saturday',
  'Tuesday',
  'Wednesday',
  'Friday']]

<h2><br>Instantiate an sklearn OneHotEncoder with drop set to first and categories to levels<h2>

In [62]:
from sklearn.preprocessing import OneHotEncoder

In [63]:
encoder = OneHotEncoder(drop='first', categories=levels)
encoder.fit(cat_nom)

cat_nom_np = encoder.transform(cat_nom).toarray()

cat_nom_df = pd.DataFrame(cat_nom_np, columns=encoder.get_feature_names_out())
cat_nom_df

,state_Oregon,state_California,state_Washington,state_Arizona,education_Graduate,education_High School or Below,education_Bachelor,marital_status_Single,marital_status_Married,policy_L1,...,sales_channel_Call Center,vehicle_class_Two-Door Car,vehicle_class_SUV,vehicle_class_Four-Door Car,day_name_Monday,day_name_Sunday,day_name_Saturday,day_name_Tuesday,day_name_Wednesday,day_name_Friday
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8665,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
8666,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8667,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8668,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8669,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

<br><br><br><h1>Lab | Comparing regression models<h1>

<h2>Define X and y<h2>

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, PowerTransformer
import sklearn.metrics as metrics
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_percentage_error
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, cohen_kappa_score, confusion_matrix, ConfusionMatrixDisplay
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression

In [65]:
final = round(final,2)
final.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,months_since_last_claim,number_of_open_complaints,number_of_policies,state,response,...,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,day_name,total_claim_amount
0,2763.52,56274.0,69.0,32.0,5.0,32,0,1,Washington,1,...,1,2,Married,L3,Offer1,Agent,Two-Door Car,2,Thursday,384.81
1,6979.54,0.0,94.0,13.0,42.0,13,0,8,Arizona,1,...,1,2,Single,L3,Offer3,Agent,Four-Door Car,2,Monday,1131.46
2,12887.43,48767.0,108.0,18.0,38.0,18,0,2,Nevada,1,...,1,2,Married,L3,Offer1,Agent,Two-Door Car,2,Saturday,566.47
3,7645.86,0.0,106.0,18.0,65.0,18,0,7,California,1,...,0,2,Married,L2,Offer1,Call Center,SUV,2,Thursday,529.88
4,2813.69,43836.0,73.0,12.0,44.0,12,0,1,Washington,1,...,0,1,Single,L1,Offer1,Agent,Four-Door Car,2,Thursday,138.13

In [66]:
X = final.drop(['total_claim_amount'], axis=1)
y = final['total_claim_amount']

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=31)

In [68]:
X_train_num = X_train.select_dtypes(include = np.number)
X_test_num  = X_test.select_dtypes(include = np.number)
X_train_cat = X_train.select_dtypes(include = object)
X_test_cat = X_test.select_dtypes(include = object)

In [69]:
encoder = OneHotEncoder(drop='first')
encoder.fit(X_train_cat)
X_train_cat_ar = encoder.transform(X_train_cat).toarray()
X_train_cat_encoded_df = pd.DataFrame(X_train_cat_ar, columns=encoder.get_feature_names_out())
encoder.fit(X_test_cat)
X_test_cat_ar = encoder.transform(X_test_cat).toarray()
X_test_cat_encoded_df = pd.DataFrame(X_test_cat_ar, columns=encoder.get_feature_names_out())

<h2>Use X_train_num to fit a power transformer. Transform BOTH X_train_num and X_test_num. Next, cast the resulting numpy arrays as pandas dataframes. Make sure to set the correct columns names and to use the same indexes of X_train_num and X_test_num. Name the final resulting dataframes as: X_train_num_transformed_df and X_test_num_transformed_df<h2>

In [70]:
transformer = PowerTransformer().fit(X_train_num)
X_train_num_ar = transformer.transform(X_train_num)
X_train_num_transformed_df = pd.DataFrame(X_train_num_ar, columns=X_train_num.columns)

transformer = PowerTransformer().fit(X_test_num)
X_test_num_ar = transformer.transform(X_test_num)
X_test_num_transformed_df = pd.DataFrame(X_test_num_ar, columns=X_test_num.columns)

/home/juan/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_data.py:3253: RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())
/home/juan/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_data.py:3253: RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())

<br><h2>Concat X_train_num_transformed_df and X_train_cat_encoded_df into X_train_new and X_test_num_transformed_df and X_test_cat_encoded_df into X_test_new<h2>

In [71]:
X_train_new = pd.concat([X_train_num_transformed_df, X_train_cat_encoded_df], axis=1)
X_test_new = pd.concat([X_test_num_transformed_df, X_test_cat_encoded_df], axis=1)

<br><h2>Fit a MinMax scaler using X_train_new and transform X_train_new and X_test_new. Create new pandas dataframes from the resulting numpy arrays. Remember to set the correct columns names and indexes. Name the resulting dataframes as: X_train_new_scaled_df and X_test_new_scaled_df<h2>

In [72]:
transformer = MinMaxScaler().fit(X_train_new)
X_train_new_ar = transformer.transform(X_train_new)
X_train_new_scaled_df = pd.DataFrame(X_train_new_ar, columns=X_train_new.columns)

transformer = MinMaxScaler().fit(X_test_new)
X_test_new_ar = transformer.transform(X_test_new)
X_test_new_scaled_df = pd.DataFrame(X_test_new_ar, columns=X_test_new.columns)

<br><h2>Train a simple linear regression model using X_train_new_scaled_df, and get the predictions for the train and test sets<h2>

In [73]:
lm = LinearRegression()
lm.fit(X_train_new_scaled_df,y_train)
y_pred_train = lm.predict(X_train_new_scaled_df)
y_pred_test = lm.predict(X_test_new_scaled_df)

In [74]:
print('\nError tests\n')
print(f'R2 train = {r2_score(y_train, y_pred_train):.4f}')
print(f'R2 test = {r2_score(y_test, y_pred_test):.4f}')
print()
print(f'RMSE train = {(np.sqrt(mean_squared_error(y_train,y_pred_train))):.4f}')
print(f'RMSE test = {(np.sqrt(mean_squared_error(y_test,y_pred_test))):.4f}')
print()
print (f'MAE train = {(metrics.mean_absolute_error(y_train, y_pred_train)):.4f}')
print (f'MAE test = {(metrics.mean_absolute_error(y_test, y_pred_test)):.4f}')
print()
print (f'MSE train = {(metrics.mean_squared_error(y_train, y_pred_train)):.4f}')
print (f'MAE test = {(metrics.mean_squared_error(y_test, y_pred_test)):.4f}')
print()

Error tests

R2 train = 0.3956
R2 test = 0.3688

RMSE train = 182.4470
RMSE test = 181.9366

MAE train = 138.3781
MAE test = 137.6704

MSE train = 33286.9191
MAE test = 33100.9316

<br><h2>Create a function that given a model prediction and real values returns a pandas dataframe with the following table:<h2>

| Error metric | Value |
| --- |  --- |
| MAE | value |
| MSE | value |
| RMSE | value |
| MAPE| value |
| R2 | value |

In [75]:
def metrics_maker(X_train, X_test, y_train):
    lm = LinearRegression()
    lm.fit(X_train,y_train)
    y_pred_train = lm.predict(X_train)
    y_pred_test = lm.predict(X_test)
    
    mae_train = metrics.mean_absolute_error(y_train, y_pred_train)
    mae_test = metrics.mean_absolute_error(y_test, y_pred_test)
    mse_train = metrics.mean_squared_error(y_train, y_pred_train)
    mse_test = metrics.mean_squared_error(y_test, y_pred_test)
    rmse_train = np.sqrt(mean_squared_error(y_train,y_pred_train))
    rmse_test = np.sqrt(mean_squared_error(y_test,y_pred_test))
    mape_train = metrics.mean_absolute_percentage_error(y_train, y_pred_train)
    mape_test = metrics.mean_absolute_percentage_error(y_test, y_pred_test)
    r2_train = round(r2_score(y_train, y_pred_train),4)
    r2_test = r2_score(y_test, y_pred_test)
    data = [['MAE', mae_train, mae_test], ['MSE', mse_train, mse_test], ['RMSE', rmse_train, rmse_test], ['MAPE', mape_train, mape_test], ['R2', r2_train, r2_test]]
    df_total = pd.DataFrame(data=data, columns=['Error metric', 'Train Set', 'Test Set'])
    df_total = df_total.style.hide(axis='index')
    return df_total

In [76]:
metrics_maker(X_train_new_scaled_df, X_test_new_scaled_df, y_train)

<br><h2>Now define a function that takes as an input: list of models, X_train and y_train to train several model (with default values) so we can train a lot of them without repeating code. The function must return the list of trained models.<h2>

In [77]:
mod_list = [LinearRegression(), KNeighborsRegressor(), MLPRegressor()]
def metrics_maker(models, X_train, y_train):
    for m in models:
        m.fit(X_train, y_train)
        y_pred_train = m.predict(X_train)
        
        mae_train = metrics.mean_absolute_error(y_test, y_pred_test)
        mse_train = metrics.mean_squared_error(y_train, y_pred_train)
        rmse_train = np.sqrt(mean_squared_error(y_train,y_pred_train))
        mape_train = metrics.mean_absolute_percentage_error(y_train, y_pred_train)
        r2_train = r2_score(y_train, y_pred_train)
        
        data = [['MAE', mae_train], ['MSE', mse_train], ['RMSE', rmse_train], ['MAPE', mape_train], ['R2', r2_train]]
        df_total = pd.DataFrame(data=data, columns=['Error metric', 'Train Set'])
        df_total = df_total.style.hide(axis='index')
        
        print('\nThis is the result for the model', m)
        display(df_total)
        
    return models

In [78]:
metrics_maker(mod_list, X_train_new_scaled_df, y_train)

This is the result for the model LinearRegression()

This is the result for the model KNeighborsRegressor()

This is the result for the model MLPRegressor()

/home/juan/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

[LinearRegression(), KNeighborsRegressor(), MLPRegressor()]